
* {
    color: #FFF;
    z-index:2
}

#light *{
    color: #000;
}

#light {
    background: #FFF;
    z-index: -1;    
}

#light .shadow {
    background: radial-gradient(50% 50% at 50% 50%, rgba(245.44, 226.01, 226.01, 0) 10.94%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 1876px/502px;
    height: 360vh;
    position: fixed;
    top:-148vh;
    width: 290vw;
    z-index:0;
  }

#dark {
    background: #000;
    z-index: -1;
}

.vertical {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 8%;
    height: auto;
    margin:19px;
    margin-bottom:0px;
}

#light .logo {
    filter: invert(1);
}

#title {
    margin:0px;
    font-family: Inter;
    font-size: 10vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#subtitle{
    font-family: Inter;
    font-size: 2vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 0px;
}

#play {
    font-family: Inter;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 26px;
    background: #D72626;
    padding-block: 15px;
    padding-inline: 8vw;
    border: none;
    text-decoration: none;
    margin-top: 6vh;
    z-index: 2;
}

#play:hover {
    cursor:pointer;
}

.white {
    margin-top: 20px;
    width: 85px;
    height: 30px;
    background: white;
    border-radius: 20px;
}

.horizontal {
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom:0px;
    margin-top:15px;
    margin: 0;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
}

#right {
    width: 20vw;
    transform: scaleX(-1);
    margin-left:40vw;
}

#left {
    width: 20vw;
}

.made {
    position: absolute;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%; /* Position it at the horizontal center of its parent */
    transform: translateX(-50%); /* Shift it horizontally to center it precisely */
  }

  #r {
    position: absolute;
    top:0;
  }

  .box {
    border: 0px none;
    background-color: #400606;
    height: 368px;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 39vh;
    z-index: 0;
  }

   #light .box{
    background: #987A7A; 
   }


  @media (max-height: 641px) and (min-width: 1556px) {
    #left, #right, .made {
        display:none;
    }
  }
 
  
  
  
  
  
