#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #252525;
}

#logo {
    margin:0px;
    margin-right:14px;
    width: 45px;
    height: 45px;
    transition: transform 5s ease; /* Optional: Add a transition for smooth animation */
    transform-origin: center;
}

#logo:hover {
    cursor: pointer;
    transform:  rotate(800deg);
}

#nav-title {
    font-family: SansSerif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px;
    text-decoration: none;
    color: #FFF;
}