.settings {
  position: relative;
  font-family: Inter;
  z-index: 5;
  border-radius: 25px;
  border: 3px solid #FFF;
  background: #3D3838;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.settings h1 {
  padding-inline: 12vh;
  font-size: 6vh;
  font-style: normal;
  font-weight: 700;
}

.settings h2 {
  font-size: 3vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Add this to make sure the options fill the width */
}

.option p {
  /* Remove position: absolute; */
  margin-left:  4vh;
  font-size: 1.8vh;
  min-width: 50px;
  font-style: normal;
  font-weight: 400;
}


/* Styles for the sliding checkbox */
.switch {
  margin-right:4vh;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  display: none; /* Hide the default checkbox */
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Default background color of the slider */
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white; /* Default color of the slider knob */
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Styles for the slider when the checkbox is checked */
input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

@media (max-height: 600px) {
  .settings h1 {
    padding-inline: 10vh;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  
  .settings h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .option p {
    /* Remove position: absolute; */
    margin-left:  20px;
    font-size: 15px;
    min-width: 50px;
    font-style: normal;
    font-weight: 500;
  }
}